// 顶部搜索条件的表单样式
@import './variables.scss';
$inputH: 30px;

%line-height {
  height: $inputH;
  line-height: $inputH;
}

.search-form-group {
  border-bottom: 2px solid $main-grey-light;
  padding: 20px 0;

  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }

  .el-input__icon {
    width: 25px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    @extend %line-height;
  }

  .el-select-dropdown__item {
    font-size: 12px !important;
  }

  .el-select {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .el-form-item {
    &.address-content {
      margin-bottom: 0 !important;
    }

    margin-bottom: 12px;

    .el-form-item__label {
      font-weight: 400;
      font-size: 12px;
      padding-right: 12px;
      @extend %line-height;
    }

    .el-date-editor .el-range-separator {
      @extend %line-height;
    }

    .el-select-dropdown__item {
      font-size: 12px !important;
    }

    .el-select {
      display: inline-block;
      position: relative;
      width: 100%;
    }

    .el-form-item {
      // &.address-content {
      //     margin-bottom: 0 !important;
      // }
      margin-bottom: 12px;

      .el-form-item__label {
        font-weight: 400;
        padding-right: 12px;
        @extend %line-height;
      }

      .el-date-editor .el-range-separator {
        @extend %line-height;
      }

      .el-select-dropdown__item,
      .el-date-editor.el-input,
      .el-input__inner {
        width: 100%;
        font-size: 12px;
        @extend %line-height;
      }
    }
  }
}

.staff-info-dialog {
  .el-form-item {
    margin-bottom: 30px;
  }

  .el-dialog .el-dialog__body {
    overflow: hidden;
    padding: 0 44px;
  }

  .el-dialog__header {
    margin: 23px 44px;
    padding: 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #b4b4b4;
  }

  .el-dialog__headerbtn {
    position: absolute;
    top: 23px;
    right: 49px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 20px;

    i {
      font-weight: 600;
    }
  }

  .el-dialog__headerbtn:hover {
    i {
      color: $main-red;
      font-weight: 600;
    }
  }

  .el-form-item .el-form-item__label {
    font-size: 12px;
  }

  .el-checkbox__label {
    font-size: 12px;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $main-red;
    border-color: $main-red;
  }

  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: $main-red;
  }

  .el-input.is-active .el-input__inner,
  .el-input__inner:focus {
    border-color: $main-red;
    outline: 0;
  }

  .el-checkbox {
    font-size: 12px;
    width: 120px;
  }

  .el-form-item .el-form-item__content .el-input__inner {
    font-size: 12px;
  }

  .el-dialog__footer {
    padding: 0px;
  }

  .search-content-style {
    border: 0px;
  }

  .el-button--primary,
  .el-button--primary:focus,
  .el-button--primary:hover {
    background: $main-red;
    border-color: $main-red;
    color: #fff;
    width: 98px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    font-size: 14px;
  }
}
